* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    margin: 24px 16px 24px 16px;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F3F5FC;
  }
  #txtIn {
    width: 100%;
    height: 251px;
    border: 0;
    background-color: #F3F5FC;
    resize: none;
  }
  #txtIn:focus {
    outline: none;
  }
  .contAdvertencia{
    display: flex;
    font-size: 12px;
    color: #495057;
  }
  .contBtnes{
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 8px;
  }
  .btnEncriptar{    
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    background-color: #0A3871;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out; /* Transición */
  }
  .btnEncriptar:active{
    background-color: #50749f;
  }
  .btndesencriptar{    
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-size: 16px;
    background-color:  #F3F5FC;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out; /* Transición */
    width: 100%;
  }
  .btndesencriptar:active{
    background-color: #50749f;
  }
  article{
    padding: 40px 24px 40px 24px;
    border-radius: 32px;
    margin: 40px 24px 40px 24px;
    background-color: white;
    box-shadow: 0px 24px 32px -8px #00000014;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 15px;
  }
  article h1{
    font-size: 24px;
    color: #343A40;
  }
  article p{
    font-size: 16px;
    color: #495057;
  }
  footer{
    font-size: 12px;
    text-align: center;
  }
  